.cards{
    width: 301px;
    height: fit-content;
    text-align: center;
    border-radius: 2.25rem;
    margin-left: -82px;
    box-shadow: 1px 1px 7px 3px #a9bcfe;
}
Card{
    border-radius: 2.25rem;

}

.city__name{
    
font-size: 2em;
}
.cty{
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: #fff;
    background: #ff8c00;
}
.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1e2432;
    text-align: center;
}
.display-flex{
    display: inline-flex;
}
